:root
{
  --aliveColor: #FF0532;
}

html,body
{
    background-color: #333;
}

.game-container
{
  display: none;
  flex-direction: column;
  margin-top: 10%;
}

#color-picker
{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 10vh;
}

#color-picker p
{
  flex-direction: column;
  color: white;
}

.game
{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  /* revisar en notebook como se ve, sino asignar el 100vh; */
  height: 100vh;
}

.board
{
  display: flex;
  flex-wrap: wrap;
  background-color: #CCC;
  width: 188px;
  height: 188px;
  border-radius: 2.5%;
}

.board li
{
  border-radius: 25%;
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: #FFF;
  border: 1px solid #999;
  cursor: pointer;
}

.board li.alive
{
  background-color: var(--aliveColor);
  border: 1px solid #999;
}

.game button
{
  margin: 5px;
  border-radius: 25%;
}

.buttons button
{
  width: 40px;
  height: 40px;
  background-size: cover;
}

#play
{
  background-image: url('../image/play.png');
}

#next
{
  background-image: url('../image/next.png');
}

#next:hover
{
  background-image: url('../image/alt_next.png');
}

#speedUp
{
  background-image: url('../image/speedUp.png');
}

#speedUp:hover
{
  background-image: url('../image/alt_speedUp.png');
}

#saveProgress
{
  background-image: url('../image/save.png');
}

#saveProgress:hover
{
  background-image: url('../image/alt_save.png');
}

#reset
{
  background-image: url('../image/reset.png');
}

#reset:hover
{
  background-image: url('../image/alt_reset.png');
}
