html,body
{
    background-color: #333;
}

.game
{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board
{
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  border: 2px solid #999;
  width: 180px;
  height: 180px;
}

.board li
{
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.board li.alive
{
  background-color: #090;
}

button
{
  margin: 5px;
}

.buttons button
{
  width: 40px;
  height: 40px;
  background-size: cover;
}

#play
{
  background-image: url('../image/play.png');
}

#next
{
  background-image: url('../image/next.png');
}

#next:hover
{
  background-image: url('../image/alt_next.png');
}

#speedUp
{
  background-image: url('../image/speedUp.png');
}

#speedUp:hover
{
  background-image: url('../image/alt_speedUp.png');
}

#saveProgress
{
  background-image: url('../image/save.png');
}

#saveProgress:hover
{
  background-image: url('../image/alt_save.png');
}

#reset
{
  background-image: url('../image/reset.png');
}

#reset:hover
{
  background-image: url('../image/alt_reset.png');
}
